
body{
    margin: 0;
    padding: 0;
    font-family:"Roboto";

}
.all{
    display: flex;
    flex-direction: column;    
    max-width: 2000px;
}
/* first part */
.header{
    height:470px;
    background: #1F2937;
}
.top{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    align-items: baseline;
    gap: 180px;
    margin-bottom: 80px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.links{
    display: flex;
    gap: 25px;
}
a{
    color: #E5E7EB;
    text-decoration: none;
}
.links,.hero-second{
    font-size: 18px;
    color: #E5E7EB;
}
.bottom{
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 150px;
}
.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 350px;
}
.hero-second{
    width: 400px;
    margin-bottom: 15px;
}
.header-signup{
    padding: 5px 25px;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
}
img{
    height: 200px;
    width: 500px;
}
/* second part */
.information{
    height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.info-main{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.info-body{
    display: flex;
    gap: 50px;
}
.info-text-img{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.info-image{
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
.info-text{
    text-align: center;
    width: 150px;
    color: #646566;
}
/* third part */

.quote{
    height: 300px;
    background: #E5E7EB;
}
/* fourth part */

.footer{
    display: flex;
}