
body{
    margin: 0;
    padding: 0;
}
.all{
    height: 100vh;
    display: flex;
    flex-direction: column;    
}
/* first part */
.header{
    background: #1F2937;
    font-family:"Roboto";
}
.top{
    height: 100px;
    display: flex;
    padding-top: 3px;
    justify-content: space-around;
    align-items: baseline;
    gap: 300px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    display: flex;
    gap: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.links,.hero-second{
    font-size: 18px;
    color: #E5E7EB;
}
.bottom{
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 200px;
}
.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 350px;
}
.hero-second{
    width: 400px;
    margin-bottom: 8px;
}
.header-signup{
    padding: 5px 25px;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
}
img{
    height: 200px;
    width: 450px;
}
/* second part */

.info{

}
/* third part */

.quote{
    height: 300px;
    background: #E5E7EB;
}
/* fourth part */

.footer{
    display: flex;
}